@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
   font-family: Source Sans Pro; 
   background-color: #eee;
   border-color: #eee;
}

header{
    font-family: Abril Fatface;
    text-align: center;
}

h2{
    font-family: Roboto Slab;
}

.newspaper-container{
    background-color: white;
    box-shadow: #ddd;
    width: 700px;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 2.3em;
    margin: 50px 20px 50px 330px;
}

h5{
    color: #dd3232;
}

a{
    color: #777;
}

ul{
    list-style: none;
    margin-left: -2em;
}

li{
    display: inline-block;
    padding: 7px;
}

nav{
    border: solid;
    border-color: gray;
    border-right-style: none;
    border-left-style: none;
}

.more-articles{
    display: inline-block;
    align-items: center;
}